{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium OSLO-Leermiddelen definieert termen die van toepassing zijn om gegevens uit te wisselen over Leermiddelen.
Meer bepaald gaat het over hoe leermiddelen internationaal kunnen worden uitgewisseld, al dan niet op basis van bijbehorende doelen.
Verder bevat het vocabularium ook de nodige termen rond licenties en het (her)gebruik van creatieve werken.</p>
<p>Het vocabularium geeft een overzicht van de gebruikte terminologie en daaraan gekoppelde definities.</p>
<p>Dit vocabularium is gebaseerd op het applicatieprofiel
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/leermiddelen/ontwerpstandaard/2025-03-21/">OSLO-Leermiddelen</a> en
<a href="https://data.vlaanderen.be/ns/leercredential/">OSLO-Leercredential</a>.</p>
{% endblock %}
