{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel rond Leermiddelen richt zich op de internationale uitwisseling van leermiddelen in het breed onderwijsveld, gaande van het klassiek onderwijs tot levenslang leren.
Leermiddelen kunnen dankzij deze standaard eenvoudig worden uitgewisseld op verschillende niveaus. Het leermiddel kan gelinkt worden aan de leeractiviteit en leeractiviteitspecificatie, alsook aan het doel.
Daarnaast is er ook een mogelijkheid om de auteursrechten i.v.m. het Leermiddel neer te schrijven aan de hand van dit model.</p>
<p>De centrale focus van dit model ligt op de klasse 'Leermiddel'. Deze klasse bevat allerlei attributen met betrekking tot de instructie, benodigdMateriaal, kost, interactieType, ... van een Leermiddel.
Dankzij deze attributen kan alle relevante informatie omtrent een Leermiddel opgeslagen worden met oog op uitwisseling van verschillende Leermiddelen. Bovendien kunnen Leermiddelen met (gedeeltelijk) dezelfde kenmerken samen worden gebracht in een 'Leermiddelenverzameling', wat zelf een subklasse is van de meer generieke 'Verzameling' uit de internationaal erkende <a href="http://purl.org/dc/dcmitype/Collection">DCTerms</a>.
Verder kan er dankzij de klasse 'LeermiddelElement' worden verduidelijkt dat een bepaald Leermiddel eventueel onderdeel is van een 'groter' Leermiddel, en anderzijds verduidelijkt worden dat een Leermiddel potentieel bestaat uit verschillende  LeermiddelElementen, zoals bijvoorbeeld het geval is bij een hoofdstuk uit een boek.</p>
<p>Het Leermiddel zelf is een subklasse van de klasse 'CreatiefWerk', overgenomen uit <a href="https://schema.org/CreativeWork">Schema.org</a>, dewelke informatie bevat omtrent de auteur en bijhorende auteursrechten van eender welke vorm van CreatiefWerk.
Een CreatiefWerk kan tevens een 'Licentie' hebben, opnieuw overgenomen uit <a href="http://purl.org/dc/terms/license">DCTerms</a>, die de informatie omtrent correct hergebruik omvat. Zoals het applicatieprofiel aangeeft, is dit ook van toepassing voor een Leermiddel.
Verder kan er ook een link worden gelegd met de 'Agent', afkomstig uit <a href="http://purl.org/dc/terms/Agent">DCTerms</a>, die in dit model de uitgeverij weergeeft die een CreatiefWerk produceert.</p>
<p>Verder is in dit model ook de link gelegd met de klasse 'Leeractiviteit', uit <a href="https://data.vlaanderen.be/ns/leercredential/">OSLO-Leercredential</a>, aangezien een Leeractiviteit potentieel gebruik kan maken van een of meerdere Leermiddelen.
Ook de link met de klasse 'Leeractiviteitspecificatie', uit <a href="https://data.vlaanderen.be/ns/leercredential/">OSLO-Leercredential</a>  is in dit model gemaakt, aangezien deze potentieel het gebruik van bepaalde Leermiddelen voorschrijft.</p>
<p>Tot slot speelt ook de klasse 'Doel' een belangrijke rol in dit model. Een Leermiddel dient namelijk potentieel een bepaald Doel. Daarnaast dragen ook de Leeractiviteit en Leeractiviteitspecificatie bij aan het behalen van een Doel. 
Belangrijk is dat het Doel op zich ingevuld kan worden afhankelijk van het type Doel, binnen het onderwijsveld of binnen de professionele omgeving, zoals de gebruiker wenst.
Het model bevat voldoende relaties (gerelateerdAan, isSpecialisatieVan, isBrederDan) om een Doel met andere Doelen te verbinden.
<p> Daarnaast kunnen verschillende Doelen steeds gecombineerd worden in de klasse 'DoelCollectie'. Een DoelCollectie is geen Doel op zich, vandaar het verschil met verzameling. Bijvoorbeeld: een Leerplan dat bestaat uit verschillende Doelen.
</p>
{% endblock %}

