{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel rond Leermiddelen richt zich op de internationale uitwisseling van leermiddelen in het breed onderwijsveld, gaande van het klassiek onderwijs tot levenslang leren.
Leermiddelen kunnen dankzij deze standaard eenvoudig worden uitgewisseld op verschillende niveaus. Het leermiddel kan gelinkt worden aan de leeractiviteit en leeractiviteitspecificatie, alsook aan het doel.
Daarnaast is er ook een mogelijkheid om de auteursrechten neer te schrijven aan de hand. </p>
{% endblock %}

